<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <style>
        body {
          background-color: #000;
          color: #fff;
        }
        
        #logo {
          font-weight: bold;
          color: #fff;
          font-size: 24px;
        }
        
        form {
          max-width: 500px;
          margin: 0 auto;
        }
        .row {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          margin: 0 -15px;
        }
        .column {
          flex: 1;
          max-width: 250px;
          margin: 0 15px 30px;
        }
        .column img {
          width: 100%;
          height: auto;
        }
        .column h2 {
          font-size: 18px;
          margin: 10px 0 5px;
          text-align: center;
        }
        @media screen and (max-width: 768px) {
          .column {
            flex-basis: 50%;
            max-width: 50%;
          }
        }
        .businessUpload{
          padding-right: 20px;
        
        }

a {
  color: rgb(255, 255, 255);
}
        nav {
          padding-top: 10px;
          padding-bottom: 100px;
        }
	
  </style>
  </head>
  <body>
    <nav class="container d-flex justify-content-between align-items-center">
        <a class="navbar-brand" href="#"><span id="logo">HYPE HAVEN</span></a>
        <form class="form-inline my-2 my-lg-0" id="search-bar">
        	<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        	<button class="btn btn-outline-success btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
        <a class="btn btn-primary btn-dark" href="/BusinessUpload">Business Upload</a>
        <a class="btn btn-secondary btn-light" href="/">Logout</a>
        
    </nav>


	<div class="row">
		
		<% for (let i = 0; i < images.length; i++) { %>
			<div class="column"> 
			<a href="/Individual?id=<%= images[i].id %>">
				<% const base64ImageData = Buffer.from(images[i].data).toString('base64') %>
				<img src="data:image/png;base64,<%= base64ImageData %>" alt="<%= images[i].name %>">
				<h2><%= images[i].name %></h2>
				<p style="font-size: 22px; font-weight: bold;"><%= images[i].price %></p>
			</a>
			</div>
		<% } %>
		
	</div>
	
	<div class="row">
		<div class="column">
			<img src="/images/aj13.png" alt="Product 6">
			<h2>Product 6 Name</h2>
		</div>

		<div class="column">
			<img src="/images/aj11.png" alt="Product 7">
			<h2>Product 7 Name</h2>
		</div>

		<div class="column">
			<img src="/images/aj11.png" alt="Product 8">
			<h2>Product 8 Name</h2>
		</div>

		<div class="column">
			<img src="/images/aj11.png" alt="Product 9">
			<h2>Product 9 Name</h2>
		</div>

		<div class="column">
			<img src="/images/aj11.png" alt="Product 10">
			<h2>Product 10 Name</h2>
		</div>
	</div>

	<div class="row">
		<div class="column">
			<img src="/images/aj11.png" alt="Product 11">
			<h2>Product 11 Name</h2>
		</div>

		<div class="column">
			<img src="/images/aj11.png" alt="Product 12">
			<h2>Product 12 Name</h2>
		</div>

		<div class="column">
			<img src="/images/aj11.png" alt="Product 13">
			<h2>Product 13 Name</h2>
		</div>

		<div class="column">
			<img src="/images/aj11.png" alt="Product 14">
			<h2>Product 14 Name</h2>
		</div>

		<div class="column">
			<img src="/images/aj11.png" alt="Product 15">
			<h2>Product 15 Name</h2>
		</div>
	</div>
	
	<div class="row">
		<div class="column">
			<img src="/images/aj11.png" alt="Product 16">
			<h2>Product 16 Name</h2>
		</div>

		<div class="column">
			<img src="/images/aj11.png" alt="Product 17">
			<h2>Product 17 Name</h2>
		</div>

		<div class="column">
			<img src="/images/aj11.png" alt="Product 18">
			<h2>Product 18 Name</h2>
		</div>

		<div class="column">
			<img src="/images/aj11.png" alt="Product 18">
			<h2>Product 19 Name</h2>
		</div>
		<div class="column">
			<img src="/images/aj11.png" alt="Product 18">
			<h2>Product 20 Name</h2>
		</div>
	</div>
	
	
		
			
  </body>
</html>
